.persian-green {
  background-color: #12A79C !important;
}

.persian-green-text {
  color: #12A79C !important;
}

.home {
    background: #132F3E url('../img/logo-final.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    box-sizing: border-box;
}

.intro-image {
    width: 100%;
    height: 570px;
    position: relative;
}

.single {
	padding: 5% 0;
}

.kickstarter {
    background-color: black !important;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    color: #FFF;
    width: 100%;
    height: auto;
    padding: 0.5px;
}

.darker {
    padding: 5% 0;
    background: #132F3E url('../img/background2.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    color: #FFFFFF;
    box-sizing: border-box;
}

.darker h2, p{
    color: white;
    font-weight: 600;
} 

.darker p{
	font-size: 18px;
}

/*Footer*/
footer{
	min-height: 140px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	position: absolute;
    bottom: 0;
}
footer .brand-logo{
	margin-top: 5px;
	overflow: hidden;
}
footer .container{
	position: relative;
}
footer .legal{
	color: #CECECE;
}
footer .redes{
	list-style: none;
}
footer .redes li{
	width: 35px;
	height: 35px;
	background: white;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px;
}
footer .redes li:hover{
	-webkit-box-shadow: 0 0 9px rgba(0,0,0,0.8);
	box-shadow: 0 0 9px rgba(0,0,0,0.8);
}
footer .redes li,
footer .redes li span{
	-webkit-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;
}
.facebook:hover{
	background: #3b5998;
}
.twitter:hover{
	background: #1DA1F2;
}
.facebook:hover span{
	background: white;
}
.twitter:hover span{
	background: white;
}
.facebook span{
	width: 35px;
	height: 35px;
	background: #3b5998;
	display: block;
	-webkit-mask:  url(../img/facebool.svg) no-repeat 50% 50%;
	   mask: url(../img/facebool.svg) no-repeat 50% 50%;
}
.twitter span{
	width: 35px;
	height: 35px;
	background: #1DA1F2;
	display: block;
	-webkit-mask:  url(../img/twitter.svg) no-repeat 50% 50%;
	   mask: url(../img/twitter.svg) no-repeat 50% 50%;
}

/*Botones*/
.btn-default {
    border-color: black;
    color: #fff;
    background-color: black;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #132F3E;
    background-color: #f2f2f2;
}

.btn-primary {
    border-color: #12A79C;
    color: black;
    background-color: #12A79C;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    border-color: #020621;
    color: white;
    background-color: #020621;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-xl {
    padding: 0rem 0.2rem;
    background-color: #05AF3C;
}

.btn-xl2 {
    padding: 0rem 0.2rem;
    background-color: #12A79C;
}