{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<div class="single">
	<div class="container">	
		<div class="col s12 center">
            <h2>Contactanos</h2>
            <p class="flow-text black-text">Si te interesa o quieres saber más sobre los cursos puedes mandarnos un mensaje</p>
            <p class="flow-text black-text">makingmex@gmail.com</p>
            <p class="flow-text black-text">O contactarnos por nuestras redes sociales</p>
        </div>
    </div>
</div>

{% endblock %}