{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Making México</title>
	<meta charset="utf-8">
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"/>
    <!--Our personal css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header class="navbar-fixed home">
		<nav class="persian-green">
	    <div class="nav-wrapper">
    		<a href="#" class="brand-logo left">Making México</a>
    		<a href="#" data-activates="mobile-demo" class="button-collapse right"><img src="{% static "img/menu.svg" %}" class="material-icons"></a>
    		<ul class="right hide-on-med-and-down">
		        <li><a href="/#nosotros">Nosotros</a></li>
        		<li><a href="/#cursos">Cursos</a></li>
        		<li><a href="/">Conocenos</a></li>
		        <li><a href="/#cantact">Contactanos</a></li>
    	    </ul>
    	    <ul class="side-nav" id="mobile-demo">
        		<li><a href="/#nosotros">Nosotros</a></li>
        		<li><a href="/#cursos">Cursos</a></li>
        		<li><a href="/">Conocenos</a></li>
        		<li><a href="/#cantact">Contactanos</a></li>
      		</ul>
    	</div>
 		</nav>
	</header>

    <section class="home intro-image">
        <div class="container valign wrapper">
            <div class="row center ">
                <br><br><br>
                <h1 class="col s12 white-text intro">El lugar en donde las ideas se vuelven realidad</h1>
            </div>
        </div>
    </section>

    <section class="single" id="nosotros">
        <div class="container">

            <div class="row">
                <div class="col s12 top center">
                    <h2>Sobre Nosotros</h2>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <h3>Misión</h3>
                    <img src="{% static "img/settings.svg" %}" class="small material-icons">
                </div>
                <div class="col s6 center">
                    <h3>Visión</h3>
                    <img src="{% static "img/search.svg" %}" class="small material-icons">
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <p class="flow-text black-text">Estamos enfocados en la difusión de la cultura hacker, maker y más aportes tecno-científicos para acercar las nuevas tecnologías a todo tipo de comunidad especialmente en zonas de difícil acceso a este tipo de conocimiento, llevando a cabo ideas y proyectos dándoles un espacio donde puedan desarrollarse y convertirse en una realidad.</p>
                </div>
                <div class="col s6 center">
                    <p class="flow-text black-text">Al año de haber iniciado con los cursos esperamos tener de aval a varias comunidades de developers y algunas startups, para así poder crearnos prestigio con nuestros cursos y talleres impartidos en Making México</p>
                </div>
            </div>

        </div>
    </section>

    <section class="kickstarter">
        <div class="container">
            <div class="col s12 center">
                <p class="light white-text">Ayudanos a llegar a nuestra meta en <a href="#" class="btn btn-primary btn-xl center">Kickstarter</a></p>
            </div>
        </div>
    </section>

    <section class="darker" id="cursos">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h2 class="red-text">Cursos</h2>
                </div>
                <div class="col s12 m6 center">
                    <img src="{% static "img/python-logo.png" %}" class="responsive-image" width="128">
                    <p class="red-text">Curso de Python</p>
                    <p class="red-text">El curso de Python te lleva desde 0 hasta un nivel intermedio-avanzado pasando por lo básico como tipo de datos, de operadores pasando por la resolución de algoritmos de alta complejidad hasta comprender la programación orientada a objetos</p>
                    <a href="#" class="btn btn-default btn-xl2">Ver más</a>
                </div>
                <div class="col s12 m6 center">
                    <img src="{% static "img/ruby-logo.png" %}" class="responsive-image" width="128">
                    <p class="red-text">Curso de Ruby</p>
                    <p class="red-text">El curso de Ruby te enseñará desde lo básico de la programación como la sintaxis de este lenguaje, llevarte a la creación de tus propias funciones hasta que puedas crear y utilizar objetos para la resolución de algoritmos</p>
                    <a href="#" class="btn btn-default btn-xl2">Ver más</a>
                </div>
            </div>
        </div>
    </section>

    <section class="kickstarter">
        <div class="container">
            <div class="col s12 center">
                <p class="light white-text">Ayudanos a llegar a nuestra meta en <a href="#" class="btn btn-primary btn-xl center">Kickstarter</a></p>
            </div>
        </div>
    </section>

    <section id="contact" class="single">
        <div class="container">
            <div class="col s12 center">
                <h2>Contactanos</h2>
                <p class="flow-text black-text">Si te interesa o quieres saber más sobre los cursos puedes mandarnos un mensaje</p>
                <p class="flow-text black-text">makingmex@gmail.com</p>
                <p class="flow-text black-text">O contactarnos por nuestras redes sociales</p>
            </div>
        </div>
    </section>

	<footer class="persian-green">
        <div class="container">
            <a href="/" class="brand-logo center"><img src="{% static "img/logo-final.jpg" %}" width="50" alt=""></a>
            <ul class="redes">
                <a href="https://www.facebook.com/MakingMex/" target="_blank"><li class="btn_red facebook"><span ></span></li></a>
                <a href="https://www.facebook.com/MakingMex/" target="_blank"><li class="btn_red twitter"><span ></span></li></a>
            </ul>
            <p class="legal">Todos los derechos reservados para Making México 2017.</p>
        </div>
    </footer>
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.button-collapse').sideNav();
  });
    </script>
</body>
</html>