<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Making México</title>
    <meta name="description" content="Estamos enfocados en la difusión de la cultura hacker, maker y más aportes tecno-científicos para acercar las nuevas tecnologías a todo tipo de comunidad.">
    <meta name="keywords" content="software, tecnología, hackaton, meetup, startup, cursos, talleres, programadores, python, ruby">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/pages/home.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
</head>

<body>
    <header>
        <!-- Nav -->
        <nav class="top-nav persian-green" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo sr"><img class="xlogo" src="img/makingmex/logommx3.png" alt=""></a>
                <a href="#modalopc" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="#modalopc" class="right hide-on-med-and-down btn-floating btn-large halfway-fab waves-effect waves-light indigo accent-3">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="section">
            <div class="container z-depth-5 indigo darken-2 myborder mydivHeader">
                <div class="row center scrollblock">
                    <div class="col s12 m2 l2">
                        <div class="sr-blocks myimage-float1a">
                            <img id="rotate-gear-1a" class="responsive-img" src="img/gears/gear1.svg">
                        </div>
                        <div class="sr-blocks myimage-float1b">
                            <img id="rotate-gear-1b" class="responsive-img" src="img/gears/gear2.svg">
                        </div>
                        <div class="sr-blocks myimage-float1c">
                            <img id="rotate-gear-1c" class="responsive-img" src="img/gears/gear3.svg">
                        </div>
                    </div>
                    <div class="col s12 m8 l8">
                        <h1 class="header center title-hero white-text myspace sr-blocks">Curso Profesional de Python</h1>
                    </div>
                    <div class="col s12 m2 l2">
                        <div class="sr-blocks myimage-float2a">
                            <img id="rotate-gear-2a" class="responsive-img" src="img/gears/gear4.svg">
                        </div>
                        <div class="sr-blocks myimage-float2b">
                            <img id="rotate-gear-2b" class="responsive-img" src="img/gears/gear5.svg">
                        </div>
                        <div class="sr-blocks myimage-float2c">
                            <img id="rotate-gear-2c" class="responsive-img" src="img/gears/gear6.svg">
                        </div>
                    </div>
                </div>


                <!-- Modal Structure -->
                <div id="modalopc" class="modal indigo darken-2">
                    <div class="modal-content mycontainer myspace-tittle">
                        <a href="/"><img class="brand-logo responsive-img myhoverable-png" src="img/makingmex/logo-green.png" alt="MAKING MÉXICO"></a>

                        <div class="row center myspace-top">
                            <div class="col s12 m4">
                                <a href="#" id="conocenos" class="modal-action modal-close btn-large waves-effect waves-light indigo accent-3 hoverable">Inicio</a>
                            </div>
                            <div class="col s12 m4">
                                <a href="#" id="copadding: 24px;nocenos" class="btn-large waves-effect waves-light indigo accent-3 hoverable">Nosotros</a>
                            </div>
                            <div class="col s12 m4">
                                <a href="#" id="conocenos" class="btn-large waves-effect waves-light indigo accent-3 hoverable">Cursos</a>
                            </div>

                        </div>
                        <div class="row center myspace-top">
                            <div class="col s12 m6">
                                <a href="#" id="conocenos" class="btn-large waves-effect waves-light indigo accent-3 hoverable">Conocenos</a>
                            </div>
                            <div class="col s12 m6">
                                <a href="#" id="conocenos" class="btn-large waves-effect waves-light indigo accent-3 hoverable">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <section id="cursos">
        <div class="mycontainer myspace white-text">
            <div class="indigo myborder z-depth-5">
                <div class="mycontainer myspace-div">
                    <div class="row">
                        <div class="col s12 m4 center">
                            <div class="sr scrollblock">
                                <img id="rotate-in" class="responsive-img" src="img/makingmex/logo-python.png">
                            </div>

                        </div>
                        <div class="col s12 m8">
                            <h3 class="sr">Descripción</h3>
                            <div class="divider sr"></div><br>
                            <p class="myp sr-reset">El curso de Python te lleva desde 0 hasta un nivel intermedio-avanzado pasando por lo básico como tipo de datos, de operadores pasando por la resolución de algoritmos de alta complejidad hasta comprender la programación orientada
                                a objetos.</p>

                            <h3 class="sr">Temario</h3>
                            <div class="divider sr"></div><br>
                            <div class="row">
                                <div class="col s12 m6">
                                    <ul id="list1">
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <h4><a href="#">Python</a></h4>
                                            <p class="myp"><i class="material-icons">label</i> ¿Qué es y para qué sirve Python?</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Instalación de Python y dependencias</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Tipos de datos</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Operadores aritméticos</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Operadores lógicos</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Estructuras de control de flujo</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Funciones</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Algoritmos</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Programación Orientada a Objetos</p>
                                        </li>
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <p class="myp"><i class="material-icons">label</i> Arduino & Python</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m6">
                                    <ul id="list2">
                                        <li class="" style="transform: translateX(0px); opacity: 0;">
                                            <h4><a href="#">Django</a></h4>
                                            <p class="myp"><i class="material-icons">label</i> Se dará una introducción del framework llamado Django para la creación de una aplicación web</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="divider sr"></div><br>
                            <h3 class="sr">Costo del curso: MX$5000</h3>
                            <div class="sr-reset">
                                <p class="myp">Ofrecemos la opción de pago a meses sin intereses</p>
                                <p class="myp">Horario: Sabatino de 9:00-13:00</p>
                                <p class="myp">Duración: 12 semanas</p>
                                <a href="#" id="python" class="btn waves-effect waves-light indigo accent-3 hoverable right"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp; registrate aquí</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
    </section>


    <footer class="page-footer indigo darken-2">
        <div class="container">
            <div class="row center sr">
                <a href="/"><img class="brand-logo responsive-img myhoverable-png" src="img/makingmex/logo-green.png" alt="MAKING MÉXICO"></a>
            </div>
            <div class="row center">

                <a href="https://www.facebook.com/MakingMex"><i class="fa fa-facebook-square fa-3x persian-green-text myhoverable sr-blocks" aria-hidden="true"></i></a> &nbsp;&nbsp;
                <a href="https://twitter.com/makingmex" <i class="fa fa-twitter-square fa-3x persian-green-text myhoverable sr-blocks" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <!-- FOOTER  -->
        <div class="footer-copyright center">
            <div class="container sr-reset">
                Todos los derechos reservados para <a class="indigo-text text-lighten-3" href="/"> Making México</a> 2017.
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/interactivity/scrollreveal.js"></script>
    <script src="js/interactivity/scroll-reveal.js"></script>


    <!--  <script type="js/scrollrama/jquery-1.9.1.min.js"></script>  -->
    <script src="js/scrollrama/jquery.scrollorama.js"></script>

</body>

</html>
