{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Curso Python{% endblock %}

{% block content %}

<section class="course black-text">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h1>Curso Profesional de Python</h1>
                </div>
                <div class="col s12 center">
                    <img src="{% static "img/python-logo.png" %}" class="responsive-image" width="258">
                    <p class="black-text">El curso de Python te lleva desde 0 hasta un nivel intermedio-avanzado pasando por lo básico como tipo de datos, de operadores pasando por la resolución de algoritmos de alta complejidad hasta comprender la programación orientada a objetos</p>
                    <h2>Temario</h2>
					<h3>Python:</h3>
					<ul>
					<li>¿Qué es y para qué sirve Python?</li>
					<li>Instalación de Python y dependencias</li>
					<li>Tipos de datos</li>
					<li>Operadores aritméticos</li>
					<li>Operadores lógicos</li>
					<li>Estructuras de control de flujo</li>
					<li>Funciones</li>
					<li>Algoritmos</li>
					<li>Programación Orientada a Objetos</li>
					<li>Arduino & Python</li>
					</ul>
					<h3>Django:</h3>
					<ul>
					<li>Se dará una introducción del framework llamado Django para la creación de una aplicación web</li>
					</ul>
                </div>
                <div>
                <div class="col s12 center">
                <h2>¿Te gustaría tomar el curso?</h2>
                <a href="https://makingmex.typeform.com/to/CtQGxO" class="btn btn-default btn-xl2">Registrate aquí</a>
                </div>
            </div>
        </div>
</section>
{% endblock %}