{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Curso Python{% endblock %}

{% block content %}

<section class="course white-text">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h1>¡¡Proximamente!!</h1>
                    <img src="{% static "img/ruby-logo.png" %}" class="responsive-image" width="258">
                    <h2>Curso Profesional de Ruby</h2>
                </div>
            </div>
        </div>
</section>
{% endblock %}