{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Conocenos{% endblock %}

{% block content %}

<section class="single">
	<div class="container">
		<div class="row">
			<div class="col s12 m6 l3 center">
				<img src="{% static "img/mau.jpg" %}" class="circle responsive-image" width="128" height="128">
				<h2>Mau Munguia</h2>
				<h4>Co-founder, CEO, CTO</h4>
			</div>
			<div class="col s12 m6 l3 center">
				<img src="{% static "img/alan.jpg" %}" class="circle responsive-image" width="128" height="128">
				<h2>Alan Zaga</h2>
				<h4>Co-founder, COO</h4>
			</div>
			<div class="col s12 m6 l3 center">
				<img src="{% static "img/zhava.jpg" %}" class="circle responsive-image" width="128" height="128">
				<h2>Zhava Hernandez</h2>
				<h4>CCO</h4>
			</div>
			<div class="col s12 m6 l3 center">
				<img src="{% static "img/logo-final.jpg" %}" class="circle responsive-image" width="128" height="128">
				<h2>Fernando Lopez</h2>
				<h4>Backend Developer</h4>
			</div>
		</div>
	</div>
</section>

{% endblock %}